.paginationStyle {

    display: flex;
    justify-content: center;
    margin: 10px;
}

@media screen and (max-width: 860px) {
    .paginationStyle {
        margin: 3px 0 0px 0;
        /* background-color: red; */
    }
}