.badge {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    width: 45px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 7px black;
}