.badge {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    background-color: rgb(49, 15, 241);
    width: 35px;
    font-size: 14px;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 7px black;
}