* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #3f3e3e;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 19px #090909d4;
    z-index: 10;
}

.navlinks {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(251, 251, 251);

}

.centernav {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.navlink {
    font-weight: 500;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
}

.navlink:hover {
    background-color: #272727;
}

.active {
    background-color: #272727;
}

/* CSS for tablet and mobile devices */

@media screen and (max-width: 1024px) {
    .navlinks {
        width: 90%;
    }
}

@media screen and (max-width: 860px) {
    .navbar {
        top: unset;
        bottom: 0;
        margin: 0;
    }

    .navlinks {
        width: 100%;
        justify-content: center;
    }

    .logo {
        /* display: none; */
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: #3f3e3e;
        text-align: center;
        padding: 10px;
    }

    .icon {
        display: block;
    }

    .centernav {
        width: unset;
    }

    .navlink {
        text-align: center;
        width: 120px;
        padding: 7px 0px;
    }
}

@media screen and (max-width: 640px) {
    .navlink {
        text-align: center;
        width: 103px;
        padding: 7px 0px;
    }
}